@font-face {
    font-family: 'SF Pro';
    src: url('fonts/SFProDisplay-Regular.woff2') format('woff2'),
         url('fonts/SFProDisplay-Regular.woff') format('woff'),
         url('fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

QLabel#titolo1
{
    color: #000000;
    font-size: 40px;
}
 
QWidget#sensore {
    background-color: #DEDEDE;
    border-radius: 27px;
    /*
    border: 2px solid #000000; 
    
    */
}

